.header--size--color{
    font-size: $med;
    text-align: center;
    font-family: sans-serif;
    transition: 2s;
}
.logoPizza{
    padding: 20px;
    border: 20px solid white;
    margin: 20px;
    animation-name: efecto;
    animation-timing-function: ease-in;
    animation-duration: 1s;
}
.navbar-dark{
    background-color: black;
}
.nav-item{
    color: white;
}
.color-nav{
    background-color: #86b325;
}