.header--size--color{
    color: rgb(117, 57, 57);
    background-color: black;
    font-size: 200%;
    text-align: center;
    font-family: 'Lobster', cursive;
    background: rgb(177, 146, 146);
    background: linear-gradient(90deg, rgba(150,84,84,1) 0%,white 49%, rgba(116,196,120,1) 100%);
}