* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar {
  font-size: 20px;
  font-style: italic;
}

.navbar .color-nav {
  color: black;
}

.navbar .navbar-brand {
  font-size: 40px;
}

.header__img--size:hover {
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.article_animation {
  -webkit-animation-name: efecto;
          animation-name: efecto;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

body {
  background-repeat: repeat;
  background-size: cover;
  background-size: contain;
}

main {
  color: black;
  font-family: 'Urbanist', sans-serif;
}

fieldset {
  background-color: #dfd9a3;
  color: #753939;
  background: -webkit-gradient(linear, left top, left bottom, from(#ede9c0), color-stop(49%, #e8e199), to(#e6dc7a));
  background: linear-gradient(#ede9c0 0%, #e8e199 49%, #e6dc7a 100%);
}

.border {
  border: 5px solid #ca4355;
}

.importantText {
  text-align: center;
}

.importantTextTitle {
  font-size: 40px;
}

.importantText-text-1 {
  font-size: 20px;
}

.imagenesSucursal-size {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nosotrosFont {
  font-size: 110%;
  text-align: center;
  /*text-transform: lowercase;*/
  word-spacing: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation-name: efecto;
          animation-name: efecto;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.textPadding, h3, .article__align {
  padding-top: 5%;
}

h3 {
  padding-bottom: 20px;
}

.article__align {
  text-align: center;
}

.cartaCenter {
  -webkit-animation-name: efecto;
          animation-name: efecto;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.cartaCenter li {
  text-align: center;
  display: inline-block;
  padding-left: 7%;
  padding-right: 2%;
  padding-bottom: 8%;
}

.imgCarta:hover {
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.headerGrid {
  text-align: center;
  padding: 32px;
  margin-top: 50px;
  border-top: 50px solid #ba0000;
}

/* Crea 2 columnas iguales que se encuentra una junto a la otra, es lo que permite que las imagenes se junten */
.column {
  float: left;
  width: 25%;
  padding: 10px;
}

.column img {
  margin-top: 12px;
  -webkit-transition: 1s;
  transition: 1s;
}

.column img:hover {
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.relleno {
  grid-area: "relleno";
  background-color: white;
  height: 100px;
}

.carousel .carousel-indicators li {
  height: 20px;
  width: 20px;
  border-radius: 100%;
}

.carousel img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 55vh;
  width: 100%;
}

.footer {
  grid-area: "footer";
  background-color: white;
  height: 40px;
}

.local1-icon {
  background-image: url("img/local/local1.jpg");
  background-size: cover;
  background-position: center;
}

.local2-icon {
  background-image: url("img/local/local2.jpg");
  background-size: cover;
  background-position: center;
}

.local3-icon {
  background-image: url("img/local/local3.jpg");
  background-size: cover;
  background-position: center;
}

@media only screen and (max-width: 480px) {
  .contenedores {
    font-size: 12px;
    padding-bottom: 20px;
  }
  .nosotrosFont {
    font-size: 15px;
  }
}

@media only screen and (max-width: 600px) {
  .contenedores {
    font-size: 14px;
    padding-bottom: 50px;
  }
  .nosotrosFont {
    font-size: 16px;
  }
  .cartaCenter {
    font-size: 20px;
  }
}

@media only screen and (max-width: 1200px) {
  .contenedores {
    font-size: 18px;
    padding-bottom: 50px;
  }
  .nosotrosFont {
    font-size: 20px;
  }
  .cartaCenter {
    font-size: 20px;
  }
}

@-webkit-keyframes efecto {
  0% {
    opacity: 10%;
  }
  50% {
    opacity: 50%;
  }
}

@keyframes efecto {
  0% {
    opacity: 10%;
  }
  50% {
    opacity: 50%;
  }
}

.header--size--color {
  font-size: 40px;
  text-align: center;
  font-family: sans-serif;
  -webkit-transition: 2s;
  transition: 2s;
}

.logoPizza {
  padding: 20px;
  border: 20px solid white;
  margin: 20px;
  -webkit-animation-name: efecto;
          animation-name: efecto;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.navbar-dark {
  background-color: black;
}

.nav-item {
  color: white;
}

.color-nav {
  background-color: #86b325;
}

footer {
  background-color: black;
  color: #c4c4c4;
  font-family: 'Urbanist', sans-serif;
  font-size: 35px;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  border: 40px solid black;
}

footer .privacy-policy-font {
  font-size: 15px;
}

footer .redesSociales {
  font-size: 40px;
  padding: 10px;
  border-bottom: 15px solid black;
}
/*# sourceMappingURL=style.css.map */