//Operadores - Inicio

$color1:rgb(177, 146, 146);
$white: white;
$black: black;
$red: red;
$blue: blue;
$darkGreen: rgb(0, 92, 0);
$lightGreen: rgb(49, 163, 49);

$xs: 15px;
$small: 20px;
$med: 40px;
$large: 60px;
$xl: 100px;

$cincuenta: 50%;
$cien: 100%;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    font-size: $small;
    font-style: italic;
    .color-nav{
        color: black;
    }
    .navbar-brand{
        font-size: $med;
    } 
}


.header__img--size:hover{
    transition: transform 0.5s ease;
    transform: scale(1.2, 1.2); 
}
.article_animation{
    animation-name: efecto;
    animation-timing-function: ease-in;
    animation-duration: 1s;
}
body{

    background-repeat: repeat;
    background-size: cover;
    background-size: contain;
}
main{
    color: $black;
    font-family: 'Urbanist', sans-serif;
}
fieldset{
    background-color: rgb(223, 217, 163);
    color: rgb(117, 57, 57);
    background: linear-gradient( #ede9c0 0%, #e8e199 49%, #e6dc7a 100%);
}
.border{
    border: 5px solid rgb(202, 67, 85);
}
.importantText{
    text-align: center;
}
.importantTextTitle{
    font-size: $med;
}
.importantText-text-1{
    font-size: $small;
}
.imagenesSucursal-size{
    align-items: center;
}
.nosotrosFont{
    font-size: 110%;
    text-align: center;
    /*text-transform: lowercase;*/
    word-spacing: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    animation-name: efecto;
    animation-timing-function: ease-in;
    animation-duration: 1s;
}
.textPadding{
    padding-top: 5%;
}
h3{
    @extend .textPadding;
    padding-bottom: $small;
}
.article__align{
    text-align: center;
    @extend .textPadding;
}
.cartaCenter{
    animation-name: efecto;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
    li{
        text-align: center;
        display: inline-block;
        padding-left: 7%;
        padding-right: 2%;
        padding-bottom: 8%;
    }
}
.imgCarta:hover{
    transition: transform 0.5s ease;
    transform: scale(1.2, 1.2);   
}
.headerGrid {
    text-align: center;
    padding: 32px;
    margin-top: 50px;
    border-top: 50px solid #ba0000;
  }
  
  /* Crea 2 columnas iguales que se encuentra una junto a la otra, es lo que permite que las imagenes se junten */
  .column {
    float: left;
    width: 25%;
    padding: 10px;
  }
  .column img {
    margin-top: 12px;
    transition: 1s;
  }
  .column img:hover{
    transition: transform 0.5s ease;
    transform: scale(1.2, 1.2); 
  }
  
  .row:after {
    content: "";
    display: table;  //display block usa el 100% del espacio, mientras que table va a ser tan amplio como el contenido le permita
    clear: both;
  }

.relleno{
    grid-area: "relleno";
    background-color: $white;
    height: $xl;
}
.carousel .carousel-indicators li{
    height: $small;
    width: $small;
    border-radius: $cien;
}
.carousel img{
    object-fit: cover;
    object-position: center;
    height:55vh;
    width: $cien;
}
.footer{
    grid-area: "footer";
    background-color: white;
    height: $med; 
}

@each $sucursal in local1, local2, local3 {
    .#{$sucursal}-icon {
        background-image: url("img/local/#{$sucursal}.jpg");
        background-size: cover;
        background-position: center;
    }
} 

@media only screen and (max-width: 480px){
    .contenedores{
        font-size: 12px;
        padding-bottom: $small;
    }
    .nosotrosFont{
        font-size: $xs;
    }
}
@media only screen and (max-width: 600px){
    .contenedores{
        font-size: 14px;
        padding-bottom: 50px;
    }
    .nosotrosFont{
        font-size: 16px;
    }
    .cartaCenter{
        font-size: $small;
    }
}
@media only screen and (max-width: 1200px){
    .contenedores{
        font-size: 18px;
        padding-bottom: 50px;
    }
    .nosotrosFont{
        font-size: $small;
    }
    .cartaCenter{
        font-size: $small;
    }
}
@keyframes efecto{
    0%{
        opacity: 10%;
    }
    50%{
        opacity: $cincuenta;
    }
}

@import "__header";
@import "__footer";